.title {
  padding: 10px 30px;
  height: 60px;
  font-size: 36px;
  font-weight: 400;
  font-family: fangsong, serif;
  border-bottom: 1px solid #979797;
  img {
    width: 105px;
    float: left;
    margin-top: 8.5px;
  }
}
